body{
    background: url(../img/weather_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0 2%;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

.modal {
    background: rgba(156, 156, 156, 0.4);   
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    box-sizing: border-box;
}

.modal img{
    display: block;
    margin: 0 auto;
}

.header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 1%;
    box-sizing: border-box;
}

.title{
    color: rgb(231, 227, 227);
    font-weight: bolder;
}

.searchDiv{
    width: 50%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
}

.searchInput{
    width: 50%;
    margin-right: 1%;
    padding: 1%;
    box-sizing: border-box;
    border: none;
    background: inherit;
    border-bottom: 2px solid rgb(214, 218, 214);
    color: rgb(255, 255, 255);
    font-size: 1em;
}

.searchInput:focus{
    outline: none;
}

.searchIcon{
    color: rgba(246, 241, 241, 0.7);
    cursor: pointer;
}

.errorDiv{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
} 

.errorDiv img{
    width: 80%;
    height: 70vh;
    display: block;
    margin: 0 auto;
    opacity: 80%;
}

nav, .main, .detail, .nearby, .smallDays, .bigDays{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(255, 255, 255, .5);
    padding: 1% 3% 3%;
    margin-bottom: 2%;
}

nav{
    padding: 0;
    background: rgb(136, 130, 130, .5);
}

.nav{
    width: 35%;
    margin: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    margin-left: 3%;
}

.navItem{
    width: 50%;
    list-style-type: none;
    text-align: center;
    padding: 4% 2%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.navItem:hover{
    background: rgb(136, 130, 130, 50%);
    transition: 700ms;
}

.active{
   border-bottom: 2px solid rgb(26, 25, 25);
   border-right: 1px solid rgb(180, 179, 179);
   border-left: 1px solid rgb(180, 179, 179);
   
}

.mainTitle, .detailTitle, .nearbyTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mainTitle p, .dtTitle, .nearbyTitle{
    font-size: 1.2em;
    color: rgb(13, 32, 16);
    font-weight: bold;
}

.weatherStatus{
    margin-bottom: 0;
}

.weatherMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
}

.weatherMain div{
    height: 100%;
    padding: 0;
}

.weatherIcon{
    width: 20%;
    box-sizing: border-box;
}

.mainIcon{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.temperature{
    width: 45%;
    font-size: 2em;
    box-sizing: border-box;
}

.temperature h1{
    margin: 0;
    text-align: center;
}

.temperature h1 sup{
    font-size: .7em;
}

.temperature p{
    text-align: center;
    font-size: .6em;
    color: rgb(82, 81, 81);
    margin-top: 0;
}

.shortDetails{
    width: 35%;
    box-sizing: border-box;
}

.shortTable, .hoursTable{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.shortTable tr td{
    padding: 3% 1%;
    font-size: 1em;
    color: rgb(32, 30, 30);
    font-weight: bold;
}

.shortTable tr td:first-child{
    width: 60%;
}

.shortTable tr td:last-child{
    width: 40%;
    text-align: center;
}

.hoursDetails{
    width: 100%;
    box-sizing: border-box;
}

.hoursTr td:not(:first-of-type){
    text-align: center;
}

td{
    color: rgb(61, 60, 60);
    font-weight: bold;
}

.hoursTr img{
    width: 50%;
    height: 50%;
}

.imgBig{
    width: 25% !important;
    height: 25% !important;
  }

.hoursTr td:not(:nth-child(2)), .hoursTr td:not(:first-of-type){
    padding: .5% 0;
}

.nearbyPlaces{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
};



.placeDiv p{
    width: 35%;
    font-weight: bold;
    text-align: center;
}
.placeDiv img{
    height: 99%;
    width: 10%;
}

.smallDays{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}
.smallDay{
  width: 19%;
  height: max-content;
  box-sizing: border-box;
  background: rgba(187, 182, 182, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.smallDays :hover{
  transform: scale(1.1);
  transition: ease-in 500ms;
  background: rgba(241, 238, 238, 0.5);
}
.smallDay :hover{
  transform: none;
  background: none;
}
.smallDay h3{
  margin-top: 0;
}
.daysActive{
    background: rgba(241, 238, 238, 0.5);
}